	#headingText
	{	
		padding:0 0 0 20px;
		overflow:hidden;
		max-width: 790px;
		margin:0 auto;
		line-height: 1.1;
		font-family:"OratorStd";
		font-size: 1em;
	}
	#headingText p {
		vertical-align: bottom;
		
	}
	.imagePanel
	{	
		height: auto;
		width: auto;
		max-height: 300px;
		max-width: 780px;
		margin:0 auto; 
		padding: 0 0 0 10px;
		overflow: hidden;
	}
	#bodyText
	{	
		padding:18px 0 0 10px;
		overflow: hidden;
		width: 780px;
		height: 60px;
		margin:0 auto;
		line-height: 1.1;
		font-family:"OratorStd";
		font-size: 1em;
	}
	
	#processText {
	width: 780px;
	height: 60px;
	overflow-y: scroll;
	padding-right:35px;
	
}

	

/* L & R Buttons */    
#leftArrow
{	position:absolute;
	z-index: 999;
	left: 60px;
	top: 0px;
	height: 500px;
	width: 30px;
}

	
#leftArrow img {
	position: absolute;
	top: 250px;
}
	
#rightArrow
{	position:absolute;
	z-index: 999;
	left: 930px;
	top: 0px;
	height: 500px;
	width: 30px;
}

	
#rightArrow img {
	position: absolute;
	top: 250px;
}
/* L & R Buttons */



/* SLIDER STYLE */

.slider {
	position: relative;
}

.slider ul {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 1920px;
	transition: left .8s;
	display: "inline-block";
	padding:0 0 0 0;
	margin: 0;
}

.slider ul li {
	list-style: none;
	float: left;
	width: 960px;
}